### VM settings
CPU=2
RAM=8
DISK_SIZE=32 # Disk size in GB
DATA_DISK_SIZE=100


### Path settings
DOMAIN=linden.net
# ISO path on host
ISO="/mnt/images/k3os-amd64.iso"
URL_ISO="http://infraweb.$DOMAIN/k3os-amd64.iso"
URL_WORKER_CONFIG="http://infraweb.$DOMAIN/k3s-worker.yaml"
VIRT_DIR="/mnt/virt"

### Boot settings
INITRD="./assets/k3os-initrd-amd64" # failure after reboot
KERNEL="./assets/k3os-vmlinuz-amd64"
# local on host for --boot parameter:
INITRD_PATH="/mnt/images/k3os-initrd-amd64" # not found
KERNEL_PATH="/mnt/images/k3os-vmlinuz-amd64"
#
SECRET="SuPerSecRetCluSteRSecReT"
TOKEN="123456789abcdefghijklmnop::server:SuPerSecRetCluSteRSecReT"
